body {
    display: block;
    margin: 0;
    border: solid;
    border-width: 32px 64px;
    border-color: teal;
}

header {
    display: block;
    text-align: center;
}

#title {
    background-color: aqua;
    font-size: xx-large;
    font-weight: bold;
    margin: 0px;
}

main {
    padding: 20px;
}

footer {
    padding: 20px;
}